@model HomeVM
@section link {
    <link rel="stylesheet" href="~/assets/css/homePage.css">
}

@section script {
    <script src="~/assets/js/homePage.js"></script>
    <script src="~/assets/js/custom.js"></script>
}


<div class="toast">
    <div class="toast-content">
        <i class="bi toast-check"></i>
        <div class="message">
            <span class="message-text text-1">Success</span>
            <span class="message-text text-2">Məhsul Uğurla Əlavə edildi...</span>
        </div>
    </div>
    <i class="uil uil-multiply toast-close"></i>
    <div class="progress"></div>
</div>


<section class="slider-sec">
    <!-- Slideshow container -->
    <div class="slideshow-container">
        
        @foreach(var item in Model.slides)
        {
            <div class="mySlides fade">
                <div class="numbertext"></div>
                <img id="slide-img" src="~/admin/img/images/@item.Image">
            </div>
            
        }
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</section>
<section class="type-sec">
    <div class="sales-type" id="sales-type-id">
        <ul>
            <li>Günün təklifi</li>
            <span class="underline"></span>
        </ul>
        <ul>
            <li>Çox Satılanlar</li>
            <span class="underline"></span>
        </ul>
        <ul>
            <li>Yeni Çıxanlar</li>
            <span class="underline"></span>
        </ul>
        <span></span>
    </div>
</section>
<section class="first-owl-crsl-sec">
    <div class="carousel-wrapper">
        
        <div class="owl-carousel owl-theme">
            @foreach(var item in Model.books)
            {

                
                    <div class="item" id="book-carousel-first">
                <a asp-controller="book" asp-action="bookdetails" asp-route-id="@item.Id" style="text-decoration: none; color: black;">
                        <div class="book-carousel-image">
                            <img style="width: 150px; height: 230px; object-fit: cover;" src="~/admin/img/images/@item.Image" alt="">
                        </div>
                        <div class="book-carousel-detail">
                            <h5>@item.Author.FullName</h5>
                            <p>@item.Name</p>
                            <h5>@item.SalePrice<span> ₼</span></h5>
                        </div>

                </a>
                        <div class="basket-button">

                        <button class="toast-btn" id="addToBookBasket" data-id="@item.Id" data-type="@item.ProductType?.Type" data-count="@item.StockCount"><p>Səbətə at</p></button>
                        </div>

                    </div>

                
            }
        </div>
    </div>
</section>
<section class="last-owl-crsl-sec">
    <div class="carousel-wrapper">

        <h2>Oyuncaqlar</h2>
        <div class="owl-carousel owl-theme">
            @foreach(var item in Model.Toys)
            {
            <div id="toy-carousel" class="item" style="margin-top: 25px; margin-bottom: 25px; padding: 10px 10px 0px 10px;">
              <a asp-controller="toy" asp-action="toydetails" asp-route-id="@item.Id" style="text-decoration: none; color: black;">
                <div class="toy-carousel-image">
                    @if(@item.toyImages.FirstOrDefault(x=>x.isMain) != null){

                    <img style="width: 150px; height: 230px; object-fit: contain; display: inline-block;" src="~/admin/img/images/@item?.toyImages?.FirstOrDefault(x=>x.isMain)?.Image" alt="">
                    }
                    else{
                    <img style="width: 150px; height: 230px; object-fit: contain; display: inline-block;" src="~/admin/img/images/@item.toyImages.FirstOrDefault().Image" alt="">

                    }
                </div>
                <div class="toy-carousel-detail">
                    <h5>@item.Publisher.Name</h5>
                    <p>@item.Name</p>
                        <h5>@item.SalePrice<span> ₼</span></h5>
                </div>
              </a>
                <div class="toy-basket-button">

                        <button class="toast-btn" id="addToBookBasket" data-id="@item.Id" data-type="@item.ProductType?.Type" data-count="@item.StockCount"><p>Səbətə at</p></button>
                </div>
            </div>
                

            }
        </div>
    </div>
</section>