@model List<ProductType>
<div class="card-body">
    <table class="table">
        <thead>
            <tr class="text-nowrap">
                <th>Id</th>
                <th>Type</th>
                <th>Created Time</th>
                <th>Updated Time</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Type</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.UpdatedAt</td>

                    <td><a asp-controller="producttype" asp-action="update" asp-route-id="@item.Id" class="fa-solid fa-pen-to-square"><i></i></a></td>
                    <td><a asp-controller="producttype" asp-action="delete" asp-route-id="@item.Id" class="fa-solid fa-trash-can"><i></i></a></td>

                </tr>
            }

        </tbody>
    </table>
    <a asp-area="admin" asp-controller="producttype" asp-action="create"><button type="button" class="btn btn-primary btn-lg btn-block"> Create Publisher </button></a>

</div>