@using Dolphin_Book.Core.Entities;
@using Microsoft.EntityFrameworkCore;
@inject Dolphin_Book.Service.Services.Interfaces.IBasketService basketService;
@{
    Layout = null;
    double totalPrice = 0;
    List<Dolphin_Book.Core.ViewModels.BasketListItemVM> vm = await basketService.GetAll();
}
@model PaymentVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/payment.css">
    <link rel="stylesheet" href="~/assets/js/custom.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="navbar">
            <div class="navbar-img">
                <a asp-controller="home" asp-action="index" class="navbar-img-nav">

                    <img src="~/assets/images/image-04-08-23-15-05 (2)-modifieddddd (2).png" alt="">
                </a>
            </div>
            <div class="navigation">
                <div class="navigation-item">
                    <div>
                        <span style="background-color: #35b146;">✓</span>
                        <p>Səbətim</p>
                    </div>
                    <div class="line"></div>
                    <div>
                        <span style="background-color: #0C45f5; color: white;">2</span>
                        <p>Çatdırılma və Ödəniş</p>
                    </div>
                </div>
            </div>
        </header>
<section class="divide">
    <div class="left_section" style="margin-top: 170px">
        <div class="first">
            <p>Çatdırılma və Ödəniş</p>
            <div class="adress_div">
                <span>✓</span>
                <p>Adres məlumatları </p>
            </div>
        </div>
        <div class="second">
            <div class="in_gap">
                <p>Çatdırılma Adresi</p>
                <p>Əlavə et/Düzəliş et</p>
            </div>
            <h1></h1>
            <div class="none_border">
                <div>
                    <p>Vadi Jeikhun</p>
                    <span>(Bağcılar/İstanbul)</span>
                </div>
                <p class="add">
                    45122 Mh. VD60743, 15 Temmuz mahallesi, Koçman caddesi No:40, İç Kapı No:11
                    Bağcılar/İSTANBUL
                </p>
            </div>
        </div>
        <div class="third">
            <div class="check">
                <label for="">
                    <input type="checkbox">
                </label>
                <span>Faturam için farklı adres kullan. </span>
            </div>
        </div>
        <div class="fourth">
            <div class="first">
                <div class="adress_div">
                    <span>✓</span>
                    <p>Ödəniş Üsulu </p>
                </div>
                <div class="pay_choose">
                    <h3>Kredi Kartı / Banka Kartı ile Öde</h3>
                </div>
            </div>
        </div>
        <div class="fifth" id="app">
                    <div class="card-form">
                        <div class="card-list">
                            <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
                                <div class="card-item__side -front">
                                    <div class="card-item__focus"
                                         v-bind:class="{'-active' : focusElementStyle }"
                                         v-bind:style="focusElementStyle"
                                         ref="focusElement"></div>
                                    <div class="card-item__cover">
                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                             class="card-item__bg" />
                                    </div>

                                    <div class="card-item__wrapper">
                                        <div class="card-item__top">
                                            <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png"
                                                 class="card-item__chip" />
                                            <div class="card-item__type">
                                                <transition name="slide-fade-up">
                                                    <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                                         v-if="getCardType"
                                                         v-bind:key="getCardType"
                                                         alt=""
                                                         class="card-item__typeImg" />
                                                </transition>
                                            </div>
                                        </div>
                                        <label for="cardNumber"
                                               class="card-item__number"
                                               ref="cardNumber">
                                            <template v-if="getCardType === 'amex'">
                                                <span v-for="(n, $index) in amexCardMask" :key="$index">
                                                    <transition name="slide-fade-up">
                                                        <div class="card-item__numberItem"
                                                             v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''">
                                                            *
                                                        </div>
                                                        <div :class="{ '-active' : n.trim() === '' }"
                                                             class="card-item__numberItem"
                                                             :key="$index"
                                                             v-else-if="cardNumber.length > $index">
                                                            {{cardNumber[$index]}}
                                                        </div>
                                                        <div :class="{ '-active' : n.trim() === '' }"
                                                             class="card-item__numberItem"
                                                             v-else
                                                             :key="$index + 1">
                                                            {{n}}
                                                        </div>
                                                    </transition>
                                                </span>
                                            </template>

                                            <template v-else>
                                                <span v-for="(n, $index) in otherCardMask"
                                                      :key="$index">
                                                    <transition name="slide-fade-up">
                                                        <div class="card-item__numberItem"
                                                             v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''">
                                                            *
                                                        </div>
                                                        <div class="card-item__numberItem"
                                                             :class="{ '-active' : n.trim() === '' }"
                                                             :key="$index"
                                                             v-else-if="cardNumber.length > $index">
                                                            {{cardNumber[$index]}}
                                                        </div>
                                                        <div class="card-item__numberItem"
                                                             :class="{ '-active' : n.trim() === '' }"
                                                             v-else
                                                             :key="$index + 1">
                                                            {{n}}
                                                        </div>
                                                    </transition>
                                                </span>
                                            </template>
                                        </label>
                                        <div class="card-item__content">
                                            <label for="cardName"
                                                   class="card-item__info"
                                                   ref="cardName">
                                                <div class="card-item__holder">Card Holder</div>
                                                <transition name="slide-fade-up">
                                                    <div class="card-item__name"
                                                         v-if="cardName.length"
                                                         key="1">
                                                        <transition-group name="slide-fade-right">
                                                            <span class="card-item__nameItem"
                                                                  v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                                                                  v-if="$index === $index"
                                                                  v-bind:key="$index + 1">{{n}}</span>
                                                        </transition-group>
                                                    </div>
                                                    <div class="card-item__name" v-else key="2">
                                                        Full Name
                                                    </div>
                                                </transition>
                                            </label>
                                            <div class="card-item__date" ref="cardDate">
                                                <label for="cardMonth" class="card-item__dateTitle">Expires</label>
                                                <label for="cardMonth" class="card-item__dateItem">
                                                    <transition name="slide-fade-up">
                                                        <span v-if="cardMonth" v-bind:key="cardMonth">{{cardMonth}}</span>
                                                        <span v-else key="2">MM</span>
                                                    </transition>
                                                </label>
                                                /
                                                <label for="cardYear" class="card-item__dateItem">
                                                    <transition name="slide-fade-up">
                                                        <span v-if="cardYear" v-bind:key="cardYear">{{String(cardYear).slice(2,4)}}</span>
                                                        <span v-else key="2">YY</span>
                                                    </transition>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-item__side -back">
                                    <div class="card-item__cover">
                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                             class="card-item__bg" />
                                    </div>
                                    <div class="card-item__band"></div>
                                    <div class="card-item__cvv">
                                        <div class="card-item__cvvTitle">CVV</div>
                                        <div class="card-item__cvvBand">
                                            <span v-for="(n, $index) in cardCvv" :key="$index">
                                                *
                                            </span>
                                        </div>
                                        <div class="card-item__type">
                                            <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'"
                                                 v-if="getCardType"
                                                 class="card-item__typeImg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-form__inner">
                            <div class="card-input">
                                <label for="cardNumber" class="card-input__label">Card Number</label>
                                <input type="number"
                                       id="cardNumber"
                                       class="card-input__input"
                                       v-mask="generateCardNumberMask"
                                       v-model="cardNumber"
                                       v-on:focus="focusInput"
                                       v-on:blur="blurInput"
                                       data-ref="cardNumber"
                                       maxlength="16"
                                       autocomplete="off" />
                            </div>
                            <div class="card-input">
                                <label for="cardName" class="card-input__label">Card Holders</label>
                                <input type="text"
                                       id="cardName"
                                       class="card-input__input"
                                       v-model="cardName"
                                       v-on:focus="focusInput"
                                       v-on:blur="blurInput"
                                       data-ref="cardName"
                                       autocomplete="off" />
                            </div>
                            <div class="card-form__row">
                                <div class="card-form__col">
                                    <div class="card-form__group">
                                        <label for="cardMonth" class="card-input__label">Expiration Date</label>
                                        <select class="card-input__input -select"
                                                id="cardMonth"
                                                v-model="cardMonth"
                                                v-on:focus="focusInput"
                                                v-on:blur="blurInput"
                                                data-ref="cardDate">
                                            <option value="" disabled selected>Month</option>
                                            <option v-bind:value="n < 10 ? '0' + n : n"
                                                    v-for="n in 12"
                                                    v-bind:disabled="n < minCardMonth"
                                                    v-bind:key="n">
                                                {{n < 10 ? '0' + n : n}}
                                            </option>
                                        </select>
                                        <select class="card-input__input -select"
                                                id="cardYear"
                                                v-model="cardYear"
                                                v-on:focus="focusInput"
                                                v-on:blur="blurInput"
                                                data-ref="cardDate">
                                            <option value="" disabled selected>Year</option>
                                            <option v-bind:value="$index + minCardYear"
                                                    v-for="(n, $index) in 12"
                                                    v-bind:key="n">
                                                {{$index + minCardYear}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-form__col -cvv">
                                    <div class="card-input">
                                        <label for="cardCvv" class="card-input__label">CVV</label>
                                        <input type="password"
                                               class="card-input__input"
                                               id="cardCvv"
                                               v-mask="'####'"
                                               maxlength="4"
                                               v-model="cardCvv"
                                               v-on:focus="flipCard(true)"
                                               v-on:blur="flipCard(false)"
                                               autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <button class="card-form__button">Submit</button>
                        </div>
                    </div>
        </div>
        <div class="sixth">
            <div class="adress_div">
                <span>✓</span>
                <p>Çatdırılma Növü </p>
            </div>
            <div class="adress_div">
                <a href="">Dolphin</a>
                <p>tərəfindən göndəriləcəklər</p>
            </div>
        </div>
        <div class="seventh">
            <div class="orders">
                        @foreach (var product in vm)
                        {
                            { totalPrice += (product.Price * product.Count); }
                            <div>
                                <div style="border: 1px solid rgb(217, 217, 217); padding: 18px; width: fit-content;">
                                        <img style="width: 25px; height: 38px;" src="~/admin//img//images/@product.Image" alt="" width="80px">
                                    </div>
                                    <h3 style="font-size: 14px;">@product.PublisherName</h3>
                                    <span>@product.Name</span>
                                </div>

                        }
            </div>
            <div class="teslimat">
                <label for="">
                    <input type="radio">
                    <span>Standart Teslimat</span>
                    <p>15:00’a kadar verilen siparişler aynı gün kargoda</p>
                </label>
            </div>
        </div>
    </div>
            <div class="right_section" style="margin-top: 170px;">
        <div class="orderss">
            <p>Sifariş</p>
            <div class="flex">
                <p>4 məhsul</p>
                <div class="total1">
                    <p>Toplam</p>
                            <div style ="display: flex; gap: 4px;">
                    <p id="total-price" >@totalPrice.ToString("0.##") </p> <span> ₼</span></div>
                </div>
                <div class="total2">
                    <p>Kargo</p>
                    <div class="free"></div>
                </div>
                <div class="checkouts">
                    <label for="">
                        <input type="checkbox" name="condition" id="condition-1">
                        <label for="condition-1">Razılıq Formu və Uzağdan Satış Sözləşməsi’ni oxudum, qəbul edirəm.</label>
                    </label>
                    <label for="">
                        <input type="checkbox" name="condition" id="condition-2">
                        <label for="condition-2">Uzağdan satış sözləşməsinin açığlamasını okudum, kabul ediyorum.</label>
                    </label>
                </div>
                <div class="total_amount">
                    <p>Toplam:</p>
                            <p class="total-price-p">@Model.Price <span>₼</span></p>
                </div>
                 <form id="myForm" action="/order/orderconfirmation" method="post">
                            <input asp-for="@Model.Price" type="hidden" id="totalPriceInput">
                            <button style="width: 100%" type="submit" id="finish-tag">Bitir</button>
                  </form>
                        <button class="finish" id="finish-button">
                            Bitir
                        </button>

            </div>

        </div>
    </div>
        </section>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/JavaScript.js"></script>
    <script src="~/assets/js/payment.js"></script>
    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>